{{#each year2016}}
    <tr>
        <td>{{this.city}}</td>
        <td>{{this.school}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.grade}}</td>
        <td>todo!</td>
        <td>{{this.try}}</td>
    </tr>
{{/each}}