{{#each year2014}}
    <tr>
        <td>{{this.city}}</td>
        <td>{{this.school}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.grade}}</td>
        <td>{{this.myScore}}</td>
        <td>{{this.try}}</td>
    </tr>
{{/each}}